@import "imports/colors";
@import "imports/sizes";
@import "imports/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    font-size: 16px;
}

.material-icons,
img {
    @include unselectable;
}

@media (max-height: 800px) {
    body {
        font-size: 12px;
    }
}
